* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul, ol {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

button:active,
button:focus {
  outline: none;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

pre,
code {
  font-family: 'Courier New', monospace;
}

em {
  font-style: normal;
}

strong {
  font-weight: normal;
}

blockquote {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

::selection {
  background-color: #b3d9ff;
  color: #000;
}

::-moz-selection {
  background-color: #b3d9ff;
  color: #000;
}
